.step2-container {
  height: 100vh;
}

.step2-header-row {
  min-height: 4rem;
}

.step2-row {
  margin-top: -3rem;
}

.step2-row1 {
  margin-top: 10rem;
}

.step2-row2 {
  margin-top: 0.5rem;
}

.step2-row3 {
  margin-top: 5rem;
}

.signature-textarea {
  margin-top: -2.3rem;
}

.step2-card {
  margin-top: 6rem;
  margin-bottom: 10rem;
  opacity: 0.88;
}

.step2-card-header {
  background-color: beige;
}
